<div class="mt-4">
  <h3>ĐĂNG KHÓA HỌC</h3>
  <form method="post" action="">
    <div class="form-group">
      <label for="">Name khóa học</label>
      <input type="text" name="q" class="form-control" placeholder="nhap" />
    </div>
    <div class="form-group">
      <label for="">Description khóa học</label>
      <input type="text" name="q" class="form-control" placeholder="nhap " />
    </div>
    <div class="form-group">
      <label for="">Image khóa học</label>
      <input type="text" name="q" class="form-control" placeholder="nhap " />
    </div>
    <div class="form-group">
      <label for="">slug khóa học</label>
      <input type="text" name="q" class="form-control" placeholder="nhap " />
    </div>
    <div class="form-group">
      <label for="">videoId khóa học</label>
      <input type="text" name="q" class="form-control" placeholder="nhap " />
    </div>
    <button type="submit" class="btn btn-primary">Them khoa hoc</button>
  </form>
</div>