<div class="mt-4">
  <form method="post" action="">
    <div class="form-group">
      <label for="exampleInputPassword1">Nhap lieu</label>
      <input type="text" name="q" class="form-control" id="exampleInputPassword1" placeholder="nhap tu khoa"/>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Choose</label>
      <select name="gender" id="">
          <option value="1">-- chon gioi tinh --</option>
          <option value="2">nam</option>
          <option value="3">nu</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>